.navbar {
  background: #1e1e2f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-radius: 15px;
  margin-bottom: 16px;
}

.navbar h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links button {
 background: rgba(26, 25, 25, 0.18);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links button:hover {
  background: #262639;
}
.navbar-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  border: 2px solid white;
}